@using Microsoft.AspNetCore.Http;
@using System.Security.Claims;
<script type="text/javascript">
    $(function () {
        $(".filters").click(function () {
            var filterType = $(this).attr("id");
            var formData = new FormData();
            formData.append("filterType", filterType);
            var action = '@(Url.Action("Chart", "Allocation"))';

            $.ajax({
                url: action,
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                dataType: 'text',
                error: function (data) {

                },
                success: function (data) {
                    $("#chartContainer").html(data);
                }
            });
        });
    });
    $(document).ready(function () {
        $('.ui.dropdown').dropdown({"clearable": true});
        $(".se-pre-con").fadeOut("slow");

        $('#requestTop').removeClass('active');
        $('#allocationTop').addClass('active');
    });
</script>

<div id="allocHeader" class="ui container-fluid" style="padding:17px 5px 5px 5px">
    <div class="ui grid">
        <div class="ui two wide column">
            <h1 id="h2Request">Allocation</h1>
        </div>

        @{
            string viewType = Context.Session.GetString("ViewType");

            if (viewType != "User")
            {
                <div class="ui three wide column right bottom aligned">
                    <div class="ui dropdown">

                        @{string filterType = Context.Session.GetString("FilterType");

                            if (string.IsNullOrEmpty(filterType))
                            {
                                filterType = "Filter";
                            }
                            else if (filterType == "Open")
                            {
                                filterType = "All Open Requests";
                            }
                            else if (filterType == "FeasOpen")
                            {
                                filterType = "Open Feasibility(Feas/Init/Impl) Reviews";
                            }
                            else if (filterType == "FeasAll")
                            {
                                filterType = "All Feasibility(Feas/Init/Impl) Reviews";
                            }
                            else
                            {
                                filterType += " Requests";
                            }

                            <div class="text">@filterType</div>
                        }
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a class="item filters" id="Open">All Open Requests</a>
                            <a class="item filters" id="All">All Requests</a>

                            @{
                                string PSArchitect = Context.Session.GetString("PSArchitect");

                                if (PSArchitect == "True" || viewType == "SME")
                                {
                                    <a class="item filters" id="My">My Requests</a>
                                    <a class="item filters" id="My Open">My Open Requests</a>
                                    <a class="item filters" id="My Pending">My Pending Requests</a>
                                    <a class="item filters" id="My Closed">My Closed Requests</a>
                                    if (viewType == "SME")
                                    {
                                        <a class="item filters" id="My Areas">My Area Requests</a>
                                    }
                                    if (PSArchitect == "True")
                                    {
                                        <a class="item filters" id="FeasOpen">Open Feasibility(Feas/Init/Impl) Reviews</a>
                                        <a class="item filters" id="FeasAll">All Feasibility(Feas/Init/Impl) Reviews</a>
                                    }

                                }
                                if (viewType == "Admin" || viewType == "EC")
                                {
                                    <a class="item filters" id="Open SME">Open SME Requests</a>
                                    <a class="item filters" id="All SME">All SME Requests</a>
                                    <a class="item filters" id="Steel Thread">Steel Thread Requests</a>
                                }
                                if (viewType == "EC")
                                {
                                    <a class="item filters" id="Staffing">Staffing Requests</a>
                                }
                                if (viewType != "Director")
                                {
                                    <a class="item filters" id="Unassigned">Unassigned Requests</a>
                                }
                            }
                        </div>
                    </div>
                </div>
            }

        }
        <br />

    </div>
</div>

@{ await Html.RenderPartialAsync("/Views/Partial/Charts.cshtml");}

