<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>SME Ticket</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/lib/semanticUI/semantic.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/apple-touch-icon.png">
    <link rel="icon" id="favicon" type="image/png" sizes="16x16" href="~/img/favicon-16x16.png">
    <link rel="manifest" href="~/manifest.json" crossorigin="use-credentials">
</head>
<body style="background-color:#f7f7f7">
    <div>
        @RenderBody()
    </div>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/lib/semanticUI/semantic.min.js"></script>
</body>
</html>
