
@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>SA Workplace</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/lib/semanticUI/semantic.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/apple-touch-icon.png">
    <link rel="icon" id="favicon" type="image/png" sizes="16x16" href="~/img/favicon-16x16.png">
    <link rel="manifest" href="~/manifest.json" crossorigin="use-credentials">
</head>
<body style="background-color:#f7f7f7">
    <div class="ui container-fluid">
        <div class="row">
            <div class="ui large inverted pointing menu" id="topheader" style="padding:0px 10px 0px 10px">
                <a class="ui item" href="/">
                    <img src="~/img/logo.png" width="31" height="39" class="d-inline-block align-top" alt=""><span style="font-size:18px;margin-left:10px">SA Workplace</span>
                </a>
                <a id="requestTop" class="item active" asp-controller="Request" asp-action="Index">Requests</a>
                <a id="allocationTop" class="item" asp-controller="Allocation" asp-action="Index">Allocation</a>

                @if (User.Identity.IsAuthenticated)
                {
                    var userName = "";
                    var PSArchitect = "";
                    var ECUser = "";
                    var viewType = "";
                    try
                    {
                        userName = Context.Session.GetString("UserName");
                        PSArchitect = Context.Session.GetString("PSArchitect");
                        ECUser = Context.Session.GetString("ECUser");
                        viewType = Context.Session.GetString("ViewType");
                    }
                    catch { userName = "Unknown User"; PSArchitect = "False"; }
                    <div class="ui simple dropdown right aligned item">
                        @if (PSArchitect == "True" || ECUser == "True")
                        {
                            <span class="text-white"><i>(@viewType View)</i>&nbsp;</span>
                        }
                        <span style="color:gray; margin-left:8px">@userName</span>
                        <i class="dropdown icon"></i>
                        @{
                            if (PSArchitect == "True")
                            {
                                <div class="menu">
                                    <a class="item" asp-controller="Request" asp-action="Index" asp-route-viewType="Admin">Admin View</a>
                                    <a class="item" asp-controller="Request" asp-action="Index" asp-route-viewType="EC">EC View</a>
                                    <a class="item" asp-controller="Request" asp-action="Index" asp-route-viewType="User">User View</a>
                                </div>
                            }
                        }
                        @{
                            if (ECUser == "True")
                            {
                                <div class="menu">
                                    <a class="item" asp-controller="Request" asp-action="Index" asp-route-viewType="EC">EC View</a>
                                    <a class="item" asp-controller="Request" asp-action="Index" asp-route-viewType="User">User View</a>
                                </div>
                            }
                        }
                    </div>
                }
                else
                {
                    <a asp-controller="Account" asp-action="SignIn">Sign In</a>
                }
            </div>
        </div>
        @RenderBody()
        <br />
        <hr />
        <div class="ui container sub header center  aligned">
            &copy; 2020 - iPipeline SA Workplace
        </div>

        <script src="~/lib/signalr/dist/browser/signalr.js"></script>
        <script src="~/js/site.js"></script>
        <script src="~/lib/semanticUI/semantic.min.js"></script>
        <script>
            $('#topheader .mt-lg-0 a').on('click', function () {
                $('#topheader .mt-lg-0').find('li.active').removeClass('active');
                $(this).parent('li').addClass('active');
            });

            function setAllocActive() {
                $('#requestTop').removeClass('active');
                $('#allocationTop').addClass('active');
            }
        </script>
    </div>
</body>
</html>