<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="C:\temp\Logs\internal-SA_OKTA_API-nlog.txt"
      throwConfigExceptions="true">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <variable name="logDirectory" value="Logs"/>
  <targets async="true">
    <!-- writes all details to this log file in text format -->
    <target xsi:type="File" name="logFileText" fileName="${logDirectory}/nlog-${shortdate}.log"
            layout="${time} ${mdlc:item=correlationid} [${threadid}] ${uppercase:${level}} ${callsite} - ${message} ${exception:format=tostring}" />

    <!-- writes all details to this log file in JSON format. -->
    <!--<target xsi:type="File" name="logFileJSON" fileName="${logDirectory}/nlog-JSON-${shortdate}.log">
        <layout xsi:type="JsonLayout" includeAllProperties="true" excludeProperties="">
          <attribute name="time" layout="${time}" />
          <attribute name="correlationID" layout="${mdlc:item=correlationid}" />
          <attribute name="threadID" layout="${threadid}" />
          <attribute name="level" layout="${level:upperCase=true}" />
          <attribute name="callsite" layout="${callsite}" />
          <attribute name="message" layout="${message:raw=true}" escapeUnicode="false" />
          <attribute name="exception" layout="${exception:format=tostring}" />
        </layout>
    </target>-->
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs generated from our LoggerService in text form-->
    <logger name="LoggerService.*" minlevel="Trace" writeTo="logFileText" />

    <!--All logs generated from our LoggerService in JSON form!-->
    <!--<logger name="LoggerService.*" minlevel="Trace" writeTo="logFileJSON" />-->

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
  </rules>
</nlog>